body {background-color: #E6E6E6;margin: 0px;text-align:left;}
td {font-size:12px;color:#303030;line-height:20px;}
a:link,a:visited {color:#012F68;text-decoration: none;}
a:hover {color: #406EA8;text-decoration:none}
